.app {
  display: grid;
  place-items: center;
  height: 100vh;
  background-image: url("https://i.pinimg.com/originals/40/39/e0/4039e0f1ef08b7b965bacb4641a7af49.jpg");
}

.app__body {
  display: flex;
  background-color: #ededed;
  margin-top: -5px;
  height: 90vh;
  width: 90vw;
  box-shadow: -5px 10px 40px -12px rgba(0, 0, 0, 0.75);
}
